body{
    background-color:#A2B5CD;
}

#middle-box {
    position: fixed !important;
    border-radius: 10px
    height: 80% !important;
    top: 20%;
    left: 10%;
    right: 10%;
    overflow-y:scroll !important;
}

#injected {
    position: fixed;
    height: 100%;
    width: 100%;
}

#image {
    position: fixed;
    width: 100%;
}

#scrolling {
    overflow:scroll !important;
}

h1 {
padding: 10px 10px 10px 10px;
}
