body{
    background-color:#A2B5CD;
    background-image: url("pages/img4.jpg");
    background-size: cover;
    background-repeat: repeat;
}

#middle-box {
    position: fixed !important;
    border-radius: 10px
    height: 80% !important;
    top: 20%;
    left: 10%;
    right: 10%;
    overflow-y:scroll !important;
}

#injected {
    position: fixed;
    height: 100%;
    width: 100%;
}

#image {
    position: fixed;
    width: 100%;
}

ui raised very padded text container segment {
    height: 100%;
    overflow-y:scroll !important;
}

h1 {
padding: 10px 10px 10px 10px;
}
